.scrollbar {
    max-height: 100%;
    padding-right: 20px;
    overflow: hidden;
}

.scrollX {
    overflow-x: auto;
}

.scrollY {
    overflow-y: auto;
}

.scrollbar :global(.simplebar-scrollbar::before) {
    opacity: 1 !important;
    background-color: var(--color-accent);
    border-radius: 4px;
}

.scrollbar :global(.simplebar-track.simplebar-vertical) {
    width: 8px;
    background-color: rgba(255, 255, 255, 0.05);
    right: 2px;
    border-radius: 4px;
}

.scrollbar :global(.simplebar-track.simplebar-horizontal) {
    height: 6px;
    bottom: 2px;
    border-radius: 4px;
}

.scrollbar :global(.simplebar-track) {
    z-index: 10;
}
