.pageContent {
    display: flex;
    flex-direction: column;
    row-gap: 150px;
    padding-block: 200px 150px;
}

@media (max-width: 1440px) {
    .pageContent {
        row-gap: 120px;
        padding-block: 150px 120px;
    }
}

@media (max-width: 768px) {
    .pageContent {
        row-gap: 80px;
        padding-block: 100px 80px;
    }
}
