.modalContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    z-index: 1000;
}

.modal {
    --padding-block: 28px;
    --padding-inline: 32px;

    display: flex;
    flex-direction: column;
    row-gap: 22px;
    border-radius: 8px;
    padding: 28px 32px;
    max-width: 80%;
    max-height: 80%;
    background-color: var(--color-black-08);
    position: relative;
}

.modal__header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding-inline: calc(var(--padding-inline) / 1.5);
}

.modal__header h2 {
    text-align: center;
}

.closeButton {
    top: calc(var(--padding-block) / 2);
    right: calc(var(--padding-inline) / 2);
    position: absolute;
}

@media (max-width: 768px) {
    .modal {
        --padding-block: 22px;
        --padding-inline: 26px;
    }
}
