.pagination {
    display: flex;
    align-items: center;
    column-gap: 16px;
    padding: 16px;
    border: 1px solid var(--color-black-12);
    border-radius: 10px;
    background-color: var(--color-black-06);
}

.transparent {
    border: none;
    border-radius: 0;
    background-color: transparent;
}

.small {
    border: none;
    border-radius: 0;
    background-color: transparent;
}

.pagination__button {
    height: 56px;
    aspect-ratio: 1;
}

.pagination__list {
    display: flex;
    column-gap: 3px;
}

.pagination__item {
    height: 4px;
    width: 16px;
    border-radius: 100px;
    background-color: var(--color-black-20);
    cursor: pointer;
    transition:
        background-color var(--transition-duration),
        width var(--transition-duration);
}

.pagination__itemActive {
    width: 23px;
    background-color: var(--color-accent);
}

@media (max-width: 1440px) {
    .pagination {
        column-gap: 12px;
        padding: 12px;
    }

    .pagination__button {
        height: 44px;
    }

    .pagination__item {
        width: 14px;
    }

    .pagination__itemActive {
        width: 18px;
    }
}

@media (max-width: 768px) {
    .isMobileHide {
        display: none;
    }
}
